<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kode o'Quest | <%= title %></title>
    <link rel="stylesheet" href="/afterLoginPage.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-left">
            <img src="/navLogo.png" alt="Logo">
        </div>
        <div class="navbar-right">
          <select name="Select Language" id="lang">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="HTML">HTML</option>
          </select>
            <button>Profile</button>
        </div>
    </div>

    <div class="sidebar">
        <a onclick="window.location.href='/videos'">Animation Videos</a>
        <hr>
        <a onclick="window.location.href='/games'">Games</a>
        <hr>
        <a onclick="window.location.href='/forum'">Doubt Forum</a>
        <hr>
        <!-- include an image in bottom free space -->
    </div>

    <div id="main">
        <!-- page content -->
        <h1>Welcome to My Website</h1>
        <p>This is the main content area.</p>
    </div>
    <button class="fab">
        <img src="/navlogo.png" alt="logo">
    </button>

</body>
</html>
